
 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
   
 .quicksand-uniquifier{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* nav styles */

.all{
    max-width:1100px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
  .navbar{
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
   
  }
  
  .name{
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 10px;
  }
  .item{
    gap: 20px;
  }
  .item a:hover{
    background-color: gainsboro;
  }
  
  .link-1{
    text-decoration: none;
    color: orange;
  
  }
  .link-2{
    text-decoration: none;
    color: rgba(1, 172, 253, 1);
  }
  .link-3{
    text-decoration: none;
    color: #05D4DF;
  }
  .link-4{
    text-decoration: none;
    color: #5D58EF;
  }
  .link-5{
    text-decoration: none;
  }
  .items-1{
   font-size: 1.2rem; 
   font-weight: bold;
   list-style: none;
  }
  .items-2{
    font-size: 1.2rem; 
    font-weight: bold;
    list-style: none;
  display: none;
  }
  .dropdown{
    position: fixed;
list-style: none;
margin-left: -40px;
z-index: 999;
background-color: rgba(173, 168, 168, 0.098);
backdrop-filter: blur(10px);
height: 100vh;
display: none;

  }
  .dropdown li{
    width: 100%;
  }
  .dropdown a {
    width: 100%;
  }
  .item li:hover .dropdown{
    display: block;
  }
  .items{
    font-size: 1.2rem;
   font-weight: 500;
   list-style: none;
  }
  .btn{
    background-color: orange;
    color: #FFFFFF;
    padding: 10px 50px;
    font-size: 1.2rem;
   font-weight: 500;
   border: none;
   border-radius: 10px;
  }

  /* banner styles */

  .title{
    margin: 120px 0;
  }
  .heading{
font-size: 3rem;
font-weight: bold;
padding-right: 40px;
  }
  .sp-1{
color: orange ;
  }
  .sp-2{
color: rgba(1, 172, 253, 1);
  }
  .button-primary{
background-color: black;
color: #FFFFFF;
font-size: 1.2rem; 
font-weight: bold;
padding: 10px 40px;
border-radius: 10px;
border: none;

  }


/* main part styles */

.part{

}

/* first parts */

.first-part{
  max-width:1100px;
  margin: 0 auto;
  background-image: url(../B11-A2-Kids-School/assets/bg.png);
}
.card{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}
.card-1{
text-align: center;
border: 1px solid rgb(222, 245, 255);
border-radius: 20px;
background:
linear-gradient(rgb(222, 245, 255),rgba(255, 255, 255, 0.800));
padding: 50px 40px;
}
.card-2{
text-align: center;
border: 1px solid rgb(255, 244, 220);
border-radius: 20px;
background:
linear-gradient(rgb(255, 244, 220),rgba(255, 255, 255, 0.800));
padding: 50px 40px;
}
.card-3{
  text-align: center;
  border: 1px solid rgb(238, 225, 255);
  border-radius: 20px;
  background:
  linear-gradient(rgb(238, 225, 255),rgba(255, 255, 255, 0.800));
  padding: 50px 40px;
}
.first-para{
  font-size: 0.9rem;
  font-weight: 500px;
  color: #808080;
}
.first-head{
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin: 50px;
}
.card-head{
  color: #202020 ;
font-size: 1rem;
font-weight: bold;
}
.btn-1{
background: none;
border: none;
color: #64C8FF;
}
.btn-2{
background: none;
border: none;
color: #F0AA00;
}
.btn-3{
background: none;
border: none;
color: #8700FF;
}
.button-style{
  justify-content: center;
  align-items: center;
  margin: 50px;
  gap: 20px;
  
}
.bs{
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 100px;
  background-color: rgba(254, 163, 1, 1);
  border: none;
  color: #FFFFFF;
  padding: 17px;
}

/* second parts */

.second-part{
 
  background: url(../B11-A2-Kids-School/assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}
.card-bellow{

max-width: 1100px;
margin: 0 auto;
display: flex;
justify-content: center;

}
.card-first{
margin-right: 20px;
background-color: white;
border-radius: 20px;
}


.card-second{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 gap: 20px;
}
  

.img-1{
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.date-1{
background-color: #2ddcef;
color: #FFFFFF;
font-size: 0.9rem;
width: 150px;
border-radius: 30px;
padding: 20px;
transform: translate( 30px, -50px);
}
.card-title{
font-size: 1.3rem;
font-weight: bold;
padding-left: 35px;
}
.second-para{
  font-size: 0.9rem;
  padding: 10px 35px;
}

.date-2{
  background-color: #3ce870;
  color: #FFFFFF;
  font-size: 0.9rem;
  width: 140px;
  border-radius: 30px;
  padding: 10px;
  transform: translate(20px, -40px); 
}
.date-3{
  background-color: #593ce8;
  color: #FFFFFF;
  font-size: 0.9rem;
  width: 140px;
  border-radius: 30px;
  padding: 10px;
  transform: translate(20px, -40px);
}
.card-second-1{
  background-color: white;
  border-radius: 20px;
}
.card-content{
font-size: 0.9rem;
font-weight: bold;
padding: 0 20px;
margin-top: -20px;
}
.button-style-1{
  text-align: center;
  margin: 50px;
}
.button{
 
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px 50px;
border-radius: 10px;
border: none;
margin: 40px;
}

/* footer styles */

.foot{
background-color: #01ACFD;
margin-top: -50px;
}
.footer-content{
max-width: 1100px;
margin: 0 auto;
display: flex;
justify-content: space-between;
padding: 100px 0 150px 0;

}
.footer-logo{
display: flex;

}

.footer-details{
font-size: .9rem;
color: rgb(255, 255, 255);
width: 350px;
margin-top: 20px;
}
.footer-title-1{
font-size: 2rem;
font-weight: bold;
color: #FFFFFF;
}
.footer-title-2{
font-size: 1.2rem;
font-weight: bold;
color: #FFFFFF;
}
.footer-para{
  font-size: 1rem;
  font-weight: 500px;
  color: #FFFFFF;
}

@media screen and (max-width: 576px){

  
 .item .items, .items-1{
  display: none;
 }
 .item .items-2{
  justify-content: flex-end;
 }
 .navbar{
 border-bottom: 1px solid red;
padding: 10px;
 }
  .btn{
    display: none;
  }
  .items-2{
    display: block;
  }  
  .banner{
    flex-direction:  column-reverse;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
  }
  .title{
    margin: 20px 0;
    text-align: center;

  }
  .heading{
    padding-right: 0;
  }
  .card{
    grid-template-columns: repeat(1,1fr);
  }
  .pic{
    width: 100%;
  }
  .first-part{
    margin: 0 10px;
}
.button-style{
  display: none;
}

.first-head{
  
  text-align: center;
}

.second-part{
margin: 0 auto;
text-align: center;
}
.card-bellow{
 margin: 0 10px;
 
}
.card-first{
  display: none;
}
.card-second{
  gap: 10px;
}
.card-second-1{
  width: 100%;
}
.date-3, .date-2{
  width: 50%;
}

.footer-content{
  display: block;
  width: 100%;
  margin-top: 50px;
}
.foot{
  width: 100%;

}
.footer-content{
  margin: 0 10px;
}
.footer-details{
width: 100%;
}
}


